<div class="container">
  <h1>Select a pokemon 💦🔥🌱</h1>
  <p>Comming Soon</p>
  <div>
  <h2>Our Pokémons</h2>
    <% if @pokemons.empty? %>
      <p>No pokemon yet!</p>
    <% else %>
      <ul>
        <% @pokemons.each do |pokemon| %>
          <li> <%= pokemon.name %> </li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
