.pokemon-show-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
}

.pokemon-image {
  margin-right: 20px;
}

.pokemon-details {
  text-align: left;
}
