<div class="container">
  <h1 class="text-center mt-5">All your Pokemons in Pokedex💦🔥🌱</h1>
  <div class="row justify-content-center mt-5">
    <% if @pokemons.empty? %>
      <p class="text-center">No pokemon yet!</p>
    <% else %>
      <!-- Cards -->
      <div class="row justify-content-center align-items-center pokemon-show-container">
        <div class="col-md-4">
            <% @pokemons.each do |pokemon| %>
                <div class="pokemon-card pokemon-card-shadow" data-aos="zoom-in">
                  <div class="pokemon-card-body">
                    <%= image_tag pokemon.images.first, class: "pokemon-card-img" %>
                    <div class="pokemon-card-body text-center">
                      <%= link_to pokemon[:name], pokemon_path(pokemon[:id]), class: "pokemon-card-title" %>
                    </div>
                  </div>
                </div>
            <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>


