
  <h1 class="text-center mt-5">Mes Pokémon💦🔥🌱</h1>

<div class="container">
  <div class="row g-0 text-end">
    <div class="col-sm-6 col-md-8"></div>
    <div class="col-6 col-md-4 justify-content-right pr-5">
      <%= link_to 'Ajouter un Pokemon', new_pokemon_path, class: "btn btn-danger", id: "btnAdd" %>
    </div>
  </div>
  <div class="row justify-content-center mt-5">
    <% if @pokemons.empty? %>
      <p class="text-center">Vous n'avez pas encore de Pokémon !</p>
    <% else %>
      <!-- Pokemon Grid -->
      <div class="row justify-content-center">
        <% @pokemons.each do |pokemon| %>
          <div class="col-md-4 col-sm-6 mb-4">
            <div class="pokemon-card pokemon-card-shadow" data-aos="zoom-in">
              <div class="pokemon-card-body">
                <%= image_tag pokemon.images.first, class: "pokemon-card-img" %>
                <div class="pokemon-card-body text-center">
                  <%= link_to pokemon[:name], pokemon_path(pokemon[:id]), class: "pokemon-card-title" %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
