<div class="container">
  <h1>Select a pokemon 💦🔥🌱</h1>
  <p>Comming Soon</p>
  <div>
    <% if @pokemons.empty? %>
      <p>No pokemon yet!</p>
    <% else %>
      <!-- Cards -->
      <div class="cards-container">
        <div class="cards">
          <% @pokemons.each do |pokemon| %>
            <div class="card" data-aos="zoom-in" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('<%= cl_image_path(pokemon.image, height: 300, width: 400, crop: :fill) %>');">
              <%= link_to pokemon[:name], pokemon_path(pokemon[:id]) %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
