<div class="container">
  <h1 class="text-center mt-5">All your Pokemons in Pokedex💦🔥🌱</h1>
  <div class="row justify-content-center mt-5">
    <% if @pokemons.empty? %>
      <p class="text-center">No pokemon yet!</p>
    <% else %>
      <!-- Cards -->
      <div class="col-md-10">
        <div class="row">
          <% @pokemons.each do |pokemon| %>
            <div class="col-md-4 mb-4">
              <div class="card shadow" data-aos="zoom-in">
                <%= image_tag pokemon.images.first, class: "img-fluid", style: "height: 200px; object-fit: cover; object-position: center;" %>
                <div class="card-body text-center">
                  <%= link_to pokemon[:name], pokemon_path(pokemon[:id]), class: "card-title" %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
