<h2 class="text-center mb-4">Add New Pokemon</h2>
<%= render 'form', pokemon: @pokemon %>

<br>

<div>
  <%= link_to "Revenir à vos Pokémon", pokemons_path, class: "pokemon-btn btn btn-light" %>

</div>
